body,html{
  width: 100% !important;
  height: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
}
#app{
  width: 100% !important;
  height: 100% !important;
}
.elMainPage{
  width: 100% !important;
  height: 100% !important;
}